#App {
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 250px;
  max-width: 25%;
  background: #7EA8BE;
  opacity: 0.95;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
}

.title h1 {
  padding: 0px 60px;
  text-align: center;
  border-radius: 7px;
  color: #4B666B;
}

.title button {
  padding: 10px;
  margin: 5px;
  font-size: 21px;
  color: #FCFAF9;
  background: #4B666B;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}

.git {
  padding: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .title {
    background: none;
  }
  .git {
    background: #7EA8BE;
    border-radius: 7px;
  }
}
